.photo-header{
    height: 560.35px;
    left: 0px;
    top: -0.35px;
    opacity: 0.5;
    border-bottom: 4px solid rgba(0, 0, 0, 0.8);
    }
    
    .Header-Tekst{
    text-align: right;
    justify-content: flex-end;
    font-family: 'Lekton', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    }
    
    .Header-Text-Bold{
    text-align: right;
    justify-content: flex-end;
    font-family: 'Lekton', sans-serif;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    }
    
    .Header-Button{
      background: transparent;
      color: white;
      cursor: pointer;
      border-width: 2px;
      padding: 7px;
      border-style: solid;
      margin-top: 20px;
    }