.App {
  text-align: center;
  background: #232323;
  min-height: 1500px;
  font-family: 'Lekton';
}
.photo-header{
height: 560.35px;
left: 0px;
top: -0.35px;
opacity: 0.5;
border-bottom: 4px solid rgba(0, 0, 0, 0.8);
  }

  .Header-Tekst{
    text-align: right;
    color: #FFFFFF;
    justify-content: flex-end;
  align-content: center
  
  }

  .ItemBorderBox{
    background: transparent;
    color: white;
    border-width: 2px;
    padding: 5px;
    border-style: solid;
    border-image: linear-gradient(to right bottom, #260B3C, #a053df);
    border-image-slice: 1;
    width: fit-content;

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

.test-tekst{
  color: white;
}


.App-link {
  color: #61dafb;
}

.Gradient-background{
  
width: 375.32px;
height: 651.52px;
left: 500px;
top: 1316px;

background: linear-gradient(180deg, #2400FF 0%, #00FFD1 100%);
filter: blur(200px);
transform: rotate(175.99deg);
}

.ImgKim{
  
width: 450.66px;
height: auto;
left: 176.34px;
top: 677.39px;
}

.ButtonSocial{
  background: transparent;
  color: white;
  cursor: pointer;
  border-width: 3px;
  padding: 5px;
  border-style: solid;
  border-image: linear-gradient(to right bottom, #260B3C, #a053df);
  border-image-slice: 1;
  width: 100px;
}

.ButtonsSocials{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.ServiceCard{
  background: transparent;
  color: white;
  cursor: pointer;
  border-width: 3px;
  padding: 5px;
  border-style: solid;
  border-image: linear-gradient(to right bottom, #260B3C, #a053df);
  border-image-slice: 1;
}

.ServiceCards{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.MyWorkBox{
  background: transparent;
  border: none;
  border-radius: 25px;
  color: white;
}

.MyWorkBoxes{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.App-footer{
  background-color: black;
}